<p>
  hero-builder works!
</p>
<h2>Idea for application:</h2>
<ol>
  <li>Take these tests to find your types</li>
  <li>Make up your own -> with references to what they all mean</li>
</ol>
<ul>
  <li>Put links by the appropriate question</li>
  <li>Open links In new window</li>
  <li>Put informational modal up to describe what is being asked</li>
</ul>	

<h2>Sidenote</h2>
<p>Neutral Good</p>

<h2>Personality Test</h2>
<a href="https://www.16personalities.com/free-personality-test">Test 1</a><br/>
<a href="https://www.16personalities.com/personality-types">Personality Types</a><br/>
<a href="http://www.humanmetrics.com/cgi-win/jtypes2.asp">Second Test</a><br/>
<p>second type of test -> probably not going to use this one but does provide more succinct explanations</p>

<h2>Alignment Test</h2>
<a href="http://www.easydamus.com/alignmenttest.html">Test</a><br/>
<a href="https://www.gotoquiz.com/classical_alignment_test_2">Second Test</a><br/>
<a href="http://easydamus.com/alignment.html">Alignment Info</a><br/>
