<h1 class="fas fa-bookmark"> Fonts</h1>
<div class="container">
  <div class="row">
    <div class="fontItem1 col">
      <h1>Amatic SC</h1>
      <h2>Uses</h2>
      <h3>Blog Entries</h3>
      <h4>Anything that will look like hand-writing</h4>
      <p>Blog entry example</p>
    </div>
    <div class="fontItem2 col">
      <h1>Crimson Text</h1>
      <h2>Uses</h2>
      <h3>Main Website Content</h3>
      <h4>Anything that is not hand-writing</h4>
      <p>Menu, Map, Headings, Main Content</p>
    </div>
  </div>
</div>

<h1 class="fas fa-tasks"> Colors</h1>
<div class="container">
  <div class="row">
    <div class="colorItem1 col">
        <h4>#41848F</h4>
        <p>Testing Paragraph</p>
        <div class="testShape"></div>
      </div>
      <div class="colorItem2 col">
        <h4>#72A7A3</h4>
        <p>Testing Paragraph</p>
        <div class="testShape"></div>
      </div>
      <div class="colorItem3 col">
        <h4>#97C0B7</h4>
        <p>Testing Paragraph</p>
        <div class="testShape"></div>
      </div>
      <div class="colorItem4 col">
        <h4>#F6F5F0</h4>
        <p>Main Background Color</p>
        <div class="testShape"></div>
      </div>
      <div class="colorItem5 col">
        <h4>#192B33</h4>
        <p>Main Text Color</p>
        <div class="testShape"></div>
      </div>
    </div>
  </div>

  <div class="gap"></div>

  <h1 class="fas fa-toggle-off">Backup Colors</h1>
  <div class="container">
    <div class="row">
      <div class="colorItem6 col">
        <p>#33697F</p>
      </div>
      <div class="colorItem7 col">
        <p>#402826</p>
      </div>
      <div class="colorItem8 col">
        <p>#5A5E26</p>
      </div>
      <div class="colorItem9 col">
        <p>#787D39</p>
      </div>
      <div class="colorItem10 col">
        <p>#4C707F</p>
      </div>
  </div>
</div>

<div class="gap"></div>

<h1 class="fas fa-magic"> Animations</h1>
<div class="container">
  <div class="row">
    <div class="col">Put animation tests here when availalble</div>
  </div>
</div>

<div class="gap"></div>

<h1 class="fas fa-rocket"> Graphic Elements</h1>
<div class="container">
    <div class="row">
      <div class="col">Put graphics tests here when available</div>
    </div>
  </div>