<h1 class="fas fa-bookmark"> Fonts</h1>
<div class="container">
  <div class="row">
    <div class="col-3">
        <div class="circle2">
            <div class="circle__inner">
              <div class="circle__wrapper">
                <div class="circle__content">Text Color</div>
              </div>
            </div>
          </div>
          <div class="circle1">
              <div class="circle__inner">
                <div class="circle__wrapper">
                  <div class="circle__content">Link Color</div>
                </div>
              </div>
            </div>
    </div>
    <div class="fontItem1 col">
      <h1>Header 1</h1> 
      <small>Amatic/Normal/#192B33</small>
      <h2>Header 2</h2> 
      <small>Amatic/Normal/#192B33</small>
      <h3>Header 3</h3> 
      <small>Amatic/Normal/#192B33</small>
      <h4>Header 4</h4> 
      <small>Amatic/Normal/#192B33</small>
      <h5>Header 5</h5> 
      <small>Amatic/Normal/#192B33</small>
      <p class="pAmatic">This is Body copy. This font will only be used for blog entry example or instances where writing should look hand-written. Minimally used.</p> <small>Amatic/Normal/#192B33</small><br />
      <a href="/" class="pAmatic">This is an inline link  </a>
      <small>Amatic/Normal/#41848F</small>
    </div>
    <div class="fontItem2 col">
      <h1>Header 1</h1>
      <small>Crimson Text/Normal/#192B33</small>
      <h2>Header 2</h2>
      <small>Crimson Text/Normal/#192B33</small>
      <h3>Header 3</h3>
      <small>Crimson Text/Normal/#192B33</small>
      <h4>Header 4</h4>
      <small>Crimson Text/Normal/#192B33</small>
      <h5>Header 5</h5>
      <small>Crimson Text/Normal/#192B33</small>
      <p>This is body copy.  This font will be used for the majorit of the site including menu, map, headings, and main content</p>
      <small>Crimson Text/Normal/#192B33</small> <br />
      <a href="/">This is an inline link  </a>
      <small>Amatic/Normal/#41848F</small>
    </div>
  </div>
</div>

<h1 class="fas fa-tasks"> Colors</h1>
<div class="container">
  <div class="row">
    <div class="colorItem1 col">
        <h4>#41848F</h4>
        <p>Testing Paragraph</p>
        <div class="testShape"></div>
      </div>
      <div class="colorItem2 col">
        <h4>#72A7A3</h4>
        <p>Testing Paragraph</p>
        <div class="testShape"></div>
      </div>
      <div class="colorItem3 col">
        <h4>#97C0B7</h4>
        <p>Testing Paragraph</p>
        <div class="testShape"></div>
      </div>
      <div class="colorItem4 col">
        <h4>#F6F5F0</h4>
        <p>Background Color</p>
        <div class="testShape"></div>
      </div>
      <div class="colorItem5 col">
        <h4>#192B33</h4>
        <p>Main Text Color</p>
        <div class="testShape"></div>
      </div>
    </div>
  </div>

  <div class="gap"></div>

  <h1 class="fas fa-toggle-off">Backup Colors</h1>
  <div class="container">
    <div class="row">
      <div class="colorItem6 col">
        <p>#33697F</p>
      </div>
      <div class="colorItem7 col">
        <p>#402826</p>
      </div>
      <div class="colorItem8 col">
        <p>#5A5E26</p>
      </div>
      <div class="colorItem9 col">
        <p>#787D39</p>
      </div>
      <div class="colorItem10 col">
        <p>#4C707F</p>
      </div>
  </div>
</div>

<div class="gap"></div>

<h1 class="fas fa-magic"> Icons</h1>
<div class="container">
  <div class="row">
    <div class="col">Put icons that are used here</div>
  </div>
</div>

<div class="gap"></div>

<h1 class="fas fa-magic"> Animations</h1>
<div class="container">
  <div class="row">
    <div class="col">Put animation tests here when availalble</div>
  </div>
</div>

<div class="gap"></div>

<h1 class="fas fa-rocket"> Graphic Elements</h1>
<div class="container">
    <div class="row">
      <div class="col">Put graphics tests here when available</div>
    </div>
  </div>