<header class="header clearfix">
  <nav>
      <ul class="nav nav-pills float-right">
          <button #addQuest type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                  Add a Quest
                </button>

      </ul>
  </nav>

</header>

<main role="main">
  <div class="row">
    <div class="col-7">
        <h3 class="text-muted">Your Quest Map</h3>
        <img class="map" src="../../assets/imageFiles/questMap_temp.png" alt="">
    </div>
    <div class="col-5">
    <h3 class="text-muted">Your Quests</h3>
    <app-show-quest></app-show-quest>
    <app-add-quest (questAdded)="handleQuestAdded()"></app-add-quest>
  </div>
  </div>
</main>


