<nav class="navbar sticky-top navbar-light bg-light navbar-expand-lg navbar-expand-md">
    <a class="navbar-brand" href="/"><img class="logo" src="../../assets/imageFiles/QuestWich.png" alt="QuestWich Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Your Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="home">Your Journal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="quest-dashboard">Quests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="profile">User Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="hero-dashboard">Hero Builder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="testing">Testing Stuff</a>
      </li>
    </ul>
    <span class="navbar-text">
      Welcome Adventurer, {{currentUser}}!
    </span>
  </div>
  </nav>
<div class = container>
  <router-outlet></router-outlet>
</div>

